.filter-hompage-customer {
    width: auto;
    margin: auto 0% auto 2% !important;
    padding: 10px 15px 0 15px;
    display: flex;
    justify-content: left !important;
    align-items: left !important;
    border-radius: 10px;
    border: 1px solid rgb(202, 196, 195) !important;
    flex-direction: column;
}
.hr-tag {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-homepage-customer {
    width: 100% !important;
    /* margin-left: 5% !important; */
    margin-top: 3% !important;
    padding-left: 5%;
    padding-right: 5%;
}

.filter-type {
    margin: 10px auto !important;

}