.logo {
    margin-left: 0;
    width: 10% !important;
    height: auto;
    
}

.MuiAppBar-root.header-restaurant-view{
    background-color: #911436;
} 

.css-8u9tfx-MuiButtonBase-root-MuiBottomNavigationAction-root{
    padding: 0 !important;
    min-width: 0 !important;
    max-width: 0 !important;
}

.toolbar-restaurant-view {
    display: flex;
    justify-content: space-between;
}

.toolbar-restaurant-view .icon-restaurant-view {
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}

.card-restaurant-view {
    height: auto;
    width: 25%;
    margin-left: 1%;
    margin-top: 1%;
    border: none;
    position: relative;
}

.last-icon-restaurant-view {
    margin-left: 10px !important;
}

.favorite-restaurant-view{
    margin-left: 8rem !important;
}

.full-menu-restaurant-view {
    display: flex;
    flex-direction: row;
}

.my-masonry-grid {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    /* margin-left: -30px;  */
    margin-left: 127px; 
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 30px; 
    background-clip: padding-box;
}

.css-1oqqzyl-MuiContainer-root {
    margin-left: 295px !important;
    /* margin-left: 10% !important; */
    margin-top: -510px !important;
}



