.logo {
    margin-left: 0;
    width: 10% !important;
    height: auto;
    
}



.css-8u9tfx-MuiButtonBase-root-MuiBottomNavigationAction-root{
    padding: 0 !important;
    min-width: 0 !important;
    max-width: 0 !important;
}

.toolbar-restaurant-view {
    display: flex !important;
    justify-content: space-between !important;
}


.toolbar-restaurant-view .icon-restaurant-view {
    display: flex !important;
    align-items: center !important;
    /* justify-content: flex-end; */
}

.card-restaurant-view {
    height: auto;
    width: auto;
    border: none;
    position: relative;
    margin-left: 5%;
}


.favorite-restaurant-view{
    margin-left: 15% !important;
}

/* .full-menu-restaurant-view {
    display: flex;
    flex-direction: row;
} */

.my-masonry-grid {
    display: flex;
    /* margin-left: -30px;  */
    padding-left: 10%;
    width: auto;
}

.my-masonry-grid_column {
    /* padding-left: 100px;  */
    /* margin-left: 5%; */
    background-clip: padding-box;
}


@media(max-width: 414px) {

}

@media(min-width: 415px) and (max-width: 576px){

}    

@media(min-width: 577px) and (max-width: 768px){

}

@media(min-width: 769px) and (max-width: 992px){

}  

@media(min-width: 993px) and (max-width: 1200px){

}    
