.chat-poper
{
    z-index: 2;
}

.chatPage{
    width: 27vw;
    height: 60vh;
    display: flex;
    border-radius: 4% ;
    background-color: rgb(209, 181, 181) !important;
    margin-bottom: 2%;
    margin-left: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important;
}

.chatContainer{
    height: 100%;
    width: 100%;
    
}

.chat-header{
    background-color:#e74c3c;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius:4% 4% 0 0;
    box-sizing: border-box;
}
.chat-title{
    font-family: 'Montserrat', sans-serif !important;
    margin-top: 4% !important;
}

.inputBox{
    margin-top: 4%;
    box-sizing: border-box;
    display: flex;
    border-radius:4% 0 4% 0;
    background-color: white;
}

#chatInput{
    font-size: 117.5%;
    border-radius: 0 0 0 6%;
    width: 100%;
    border: none;
    padding: 1.5%;
    box-sizing: border-box;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    resize: none;
    outline: none;
}

.chat-send{
    color: #ffa600; 
}

/* .chat-button{
    color: rgba(255,255,255,0) !important;
}
.chat-button:hover{
    color: rgba(255,255,255,0) !important;
} */

.chat-listitem-right{
    text-align: left !important;
    margin-top: 5%;
    border-radius: 0.25rem;
    display: flex;
    padding: 0.75rem;
    position: relative;
    background-color: #e7f1fc; 
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    z-index: 2;
    max-width: 50%;
    float: right;
    margin-right: 2%;  
}

.chat-listitem-left{
    text-align: left !important;
    margin-top: 5%;
    border-radius: 0.25rem;
    display: flex;
    padding: 0.75rem;
    position: relative;
    background-color: #c5f7d6; 
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    z-index: 2;
    max-width: 50%;
    float: left;
    margin-left: 2%;  
}

.chatBox{
    height:70%;
    box-sizing: border-box;   
}
