.card-food {
    width: 80%;
    position: relative;
    margin-bottom: 5%;
}

.food-name-restaurant-view {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: large !important;
}




