@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.MuiAppBar-root.header-restaurant-view{
    /* background-color: #911436; */
    background-color: #141414;
    opacity: 0.97;
} 
.balance{
    color: #797979;
    font-size: 12px;
    margin-left: 50px;
    margin-right: 10%;
}
.toolbar-restaurant-view {
    display: flex;
    justify-content: space-between;
}
.profile-font{
    color: #4c4b4b !important;
    font-weight: bold !important;
    font-size: 80% !important;
    font-family: 'Montserrat', sans-serif !important;

}
.profile-icons{
    margin-right: 5%;
    font-size: 180% !important;
}
.last-icon-restaurant-view {
    margin-left: 10px !important;
    padding: 0px !important;
}

.credit-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    background-color: #f8f8f8;
    border-radius: 5%;
    box-shadow: 24;
    padding: 2%;
}
h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif !important;
    margin-top: -1%;
}
h5{
    font-family: 'Montserrat', sans-serif !important;
}
.css-1bevcj6
{
    margin-right: -10% !important;
}

@media(max-width: 360px) {
    .css-1bevcj6
    {
        width: 30% !important;
    }
    .css-7mt4h1-MuiInputBase-root
    {
        font-size: 0rem !important;
    } 
    .css-1iz4iln
    {
        padding: 0.9px !important;
    }
    .logo{
        width: 20% !important;
    }
}    

@media(min-width: 360px) and (max-width: 412px) {
    .css-7mt4h1-MuiInputBase-root
    {
        font-size: 0.8rem !important;
    } 
    .css-7mt4h1-MuiInputBase-root .MuiInputBase-input           /*search */
    {
        padding-left: calc(0.4em + 30px) !important;      
    }
    .MuiSvgIcon-root                         /*svg */
    {
        width: 0.9em !important;
    }
    .css-1iz4iln
    {
        width: 32%;
        padding: 4% !important;
    }
    .css-1bevcj6
    {
        width: 30% !important;
    }
    .logo{
        width: 20% !important;
    }
}  

@media(min-width: 413px) and (max-width: 768px){
    .css-1bevcj6
    {
        width: 30% !important;
    }
    .css-7mt4h1-MuiInputBase-root
    {
        font-size: 0.9rem !important;
    } 
    .logo{
        width: 15% !important;
    }
}    


